Books new
<main>
  <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>User info</h2>
          <table class="table">
            <tbody>
              <tr></tr>
              <tr>
                <th>name</th>
                <th></th>
              </tr>
              <tr>
                <th>introduction</th>
                <th></th>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <a class="btn btn-outline-secondary btn-block edit_user_204416" href="/users/204416/edit">
              <i class="fas fa-user-cog"></i>
            </a>
          </div>
          <h2 class="mt-3">New book</h2>
          <%= form_with(model: @book, local: true) do |form| %>
            <div class="form-group">
              <label for="book_title">Title</label>
                <%= form.text_field :title, class: "form-control" %>
              </div>
              <div class="form-group">
                <label for="book_opinion">Opinion</label>
                <%= form.text_area :body, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.submit "Create Book", class: "btn btn-success" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>

          <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <%= form_with(model: @book, local: true) do |form| %>
              <table class="table">
                <tbody>
                  <tr>
                    <!-- 投稿者の画像 -->
                    <td class="d-flex align-items-center">
                      <% if @user && @user.get_profile_image(50, 50) %>
                        <%= image_tag @user.get_profile_image(50, 50), class: "rounded-circle mr-3" %>
                      <% else %>
                        <%= image_tag "no_image.jpg", class: "rounded-circle mr-3" %> <!-- 代わりの画像を表示 -->
                      <% end %>
                    </td>
            
                  <!-- タイトル -->
                  <td>
                    <%= form.text_field :title, class: "form-control" %>
                  </td>
            
                  <!-- オピニオン (内容) -->
                  <td>
                    <%= form.text_area :body, class: "form-control" %>
                  </td>
            
                  <!-- 編集ボタン -->
                  <% if @book.id.present? %>
                    <td>
                      <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
                    </td>
                  <% end %>
            
                  <!-- 削除ボタン -->
                  <% if @book.id.present? %>
                    <td>
                      <%= link_to 'Destroy', @book, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </main>