Books show
<main>
          <div class="col-md-8 offset-md-4">
            <h2>Book detail</h2>
            <%= form_with model: @book do |f| %>
              <table class="table">
                <tbody>
                  <tr>
                    <!-- 投稿者の画像 -->
                    <td class="d-flex align-items-center">
                      <% if @user && @user.get_profile_image(50, 50) %>
                        <%= image_tag @user.get_profile_image(50, 50), class: "rounded-circle mr-3" %>
                      <% else %>
                        <%= image_tag "no_image.jpg", class: "rounded-circle mr-3" %> <!-- 代わりの画像を表示 -->
                      <% end %>
                    </td>
                  <!-- タイトル -->
                  <td>
                    <%= f.text_field :title, class: "form-control form-control border-0" %>
                  </td>
                  <!-- オピニオン (内容) -->
                  <td>
                    <%= f.text_area :body, class: "form-control form-control border-0" %>
                  </td>
                  <!-- 編集ボタン -->
                  <% if @book.id.present? %>
                    <td>
                      <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
                    </td>
                  <% end %>
                  <!-- 削除ボタン -->
                  <% if @book.id.present? %>
                    <td>
                      <%= link_to 'Destroy', @book, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      </main>